.container {
  max-width: 960px;
  margin: 0 auto;
}
* {
	font-family: 'Roboto', sans-serif;
}
p, h1, h2, h3, .score {
	text-align: center;
}
button {
	display: block;
	margin: 0 auto;
}
ul {
	list-style: none;
	max-width: 300px;
	margin:0 auto;
	padding: 0;
}
li {
	margin: 10px;
}
label {
	margin-left: 10px;
}
.hidden {
	display: none;
}
.nextButton, .score {
	margin-top: 20px;
}
.submitButton {
	margin-top: 20px;
}